@model MemberCreateViewModel

@{
    ViewData["Title"] = "New Worker";

    var availableRoles = (List<IdentityRole>)ViewBag.Roles;
}

<div class="container-fluid">

    <form asp-action="Create">
        <div class="row">

            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-dark card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">people</i>
                        </div>
                        <h4 class="card-title">New Member</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <label asp-for="FullName" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="FullName" class="form-control" />

                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                    <span class="has-error form-control-feedback"><i class="material-icons">clear</i></span>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <label asp-for="Email" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control" />

                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <span class="has-error form-control-feedback"><i class="material-icons">clear</i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label asp-for="PhoneNumber" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="PhoneNumber" class="form-control" />

                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    <span class="has-error form-control-feedback"><i class="material-icons">clear</i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <label asp-for="Role" class="col-md-3 col-form-label"></label>

                            <div class="col-md-9">
                                <div class="form-group" style="margin-top: 15px;">

                                    @foreach (var role in availableRoles)
                                    {
                                        <div class="form-check form-check-radio form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="Role" value="@role.Id" />
                                                @role.Name
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    }
                                </div>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="row">
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-fill btn-info">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <a class="back-to" asp-action="Index">Back to List</a>
    </div>
</div>





