@model MemberManagementViewModel

@{
    ViewData["Title"] = "Member Management";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("~/Views/Member/ParitalViews/_Overview.cshtml", Model.MemberOverview)
        </div>
        <div class="col-md-9">
            @await Html.PartialAsync("~/Views/Member/ParitalViews/_Protection.cshtml", Model.MemberProtection)
        </div>
    </div>
    <div>
        <a class="back-to" asp-action="Index">Back to List</a>
    </div>
</div>